
/* Basic style resets */
body, ul, li, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #b8e0e6; /* Ice Blue */
    color: #333; /* Dark Gray for Text */
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

h6 {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

nav a {
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

body, ul, li, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #b8e0e6; /* Ice Blue */
    color: #333; /* Dark Gray for Text */
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

main {
    grid-column: 2 / 3;
}

aside {
    grid-column: 1 / 2;
}

.slide {
    position: relative;
    display: none;
    max-width: 100%; /* Ensure slides take full width of their container */
}

    .slide.active {
        display: block;
    }

    .slide img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .slide figcaption {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: rgba(0,0,0,0.6);
        color: #FFF;
        padding: 5px 10px;
        border-radius: 3px;
    }

.product-image {
    max-width: 60%;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero {
    background: url('img/me.jpg') no-repeat center center;
    background-color: #40e0d0; /* Turquoise */
    background-size: cover; /* Added this to ensure the background image covers the div */
    color: #b8e0e6; /* Ice Blue */
    padding: 100px 0;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .product-image {
        max-width: 90%;
    }
}

#menu {
    display: none;
    list-style-type: none;
}

nav {
    background-color: #b8e0e6 !important; /* Ice Blue */
    padding: 10px;
    overflow: hidden;
}

    nav a {
        text-decoration: none;
        color: #333;
        padding: 8px 16px;
    }

        nav a:hover {
            background-color: #40e0d0 !important; /* Turquoise */
            color: black;
        }

.button, .cta-button {
    background-color: #40e0d0 !important; /* Turquoise */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* For anchor tags styled as buttons */
    transition: background-color 0.3s ease;
}

    .button:hover, .cta-button:hover {
        background-color: #2db3b1 !important; /* A slightly darker shade for the hover effect */
    }

.testimonials {
    background-color: #f2f8f9 !important; /* Very light blue background */
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.testimonial {
    padding: 10px;
    margin-bottom: 20px;
    border-left: 5px solid #40e0d0 !important; /* Turquoise border */
}

footer {
    background-color: #b8e0d0 !important; /* Turquoise */
    color: #266363 !important; /* Darker shade for contrast */
    padding: 10px 0;
    text-align: center;
}

body.about .container {
    grid-template-columns: 1fr;
}
.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-image {
    width: 30%; /* Dividing equally among 3 images */
    margin: 0 1%; /* A little margin between them */
    box-sizing: border-box; /* Ensures that padding or borders won't make the images wider than specified */
}

body.index-page, body.index-page h1, body.index-page p, body.index-page a {
    color: #333 !important;
}
